<article>
  <section id="main1">
  <h1>NATURAL HISTORY RELATED EVENTS IN MOLE VALLEY</h1>
    </section>
  <section id="imag7">
<figure>
  <%= image_tag("http://molevalleynh.herokuapp.com/assets/butterflies/Adonis-Blue-face-0138108457e62d1ce0e6d96066d6983c.jpg", :width => 250, :height => 150, :crop => :fill)  %>
</figure>  
</section>
<section id="main1">

    <p>
       Mole Valley has a lively and active community of natural history enthusiasts. There are events that suite all levels of experience. We provide here some links that will keep you up to date with natural history related activities in Mole Valley. 
    </p>
    <p>
      The RSPB Dorking and District Local Group organise regular events throughout the year that are open to all. You do not need to be an expert birdwatcher. Indeed you will find many are ideal for those that are wanting to get started. An up to date programme of events can be found <a href="http://www.rspb.org.uk/groups/dorkinganddistrict/events/">here</a>.
    </p>
    <p>
      Amphibians and Reptiles are important indicators of habitat quality. The Surrey Amphibian and Reptile Group is an extremely active and enthusiastic group that provides important support for some of our most threatened habitats. An up to date list of their events can be found <a href="http://surrey-arg.org.uk/SARG/30000-CommitteeTools/calendar/SARGcalendar.asp">here</a>.
    </p>
    </section>
  
<section id="imag5">
    <figure >
    <%= image_tag("http://molevalleynh.herokuapp.com/assets/Adders-dancing-fee36a7daba3955a0d39cb25924b9ed4.jpg", :width => 200, :height => 200, :crop => :fill)    %>
      
    </figure>
      </section>
      
</article>