<article>
  <section id="main1">
<h1>WHAT YOU CAN SEE</h1>
<p>
  You can find here links to information on a range of characteristic species that are found in Mole Valley.
</p> 
    <h4 ><a href="birds">BIRDS</a></h4>
    <h4>BATS</h4>
    <h4><a href="butterflies">BUTTERFLIES</a></h4>
     <section id="imag3">
    <figure>
      <%= image_tag("http://molevalleynh.herokuapp.com/assets/Mute_Swan_heads-835789c95641a9a79f19c295d6a81e77.jpg") %>
    </figure>
  </section>
    <p>
      About 60 different kinds of butterfly occur in Britain. More than half of them can be seen in Mole Valley, including several nationally scarce butterflies of chalk grassland and woodland. The high number of species found locally reflects the location of Mole Valley in the warm south east corner of England, and the variety of habitats. Fewer species can survive in the north of Britain, although some are moving northwards as a result of climate change.
    </p>
    <h4>DRAGONFLIES AND DAMSELFLIES</h4>
    <h4><a href="fungi">FUNGI</a></h4>
    <h4>MOTHS</h4>
    <h4><a href="plants">PLANTS</a></h4>
    <section>
 
</article>
