<article>
  <section id="main1">
<h1>ORGANISATIONS</h1>
<p>
  A very wide range of organisations have a natural history remit in Mole Valley. This page contains a list of all the main ones that we are aware of. Links are provided to their respective web sites where available. Otherwise we provide contact details.  
</p>
    <h2>Ancient Tree Forum</h2>
    <h2><a href="http://butterfly-conservation.org/">Butterfly Conservation</a></h2>
    <p>
      Butterfly Conservation is a charity dedicated to saving butterflies, moths and their habitats. Many active volunteers work through a system of Branches, and Mole Valley is in the area covered by Surrey and South West London Branch. Members can take part in local field trips, meetings, recording, monitoring and practical conservation work.
    </p>
    <h4><a href="http://www.cityoflondon.gov.uk/Corporation/LGNL_Services/Environment_and_planning/Parks_and_open_spaces/Ashtead_Common/">Corporation of London, Ashtead Common</a></h4>
    <p>
      Ashtead Common is owned and managed by the City of London. This has secured its future as a valuable wildlife refuge and amenity for the community as a whole. As well as being a Site National Nature Reserve in 1995.
    </p>
    <h3>Dorking and District Preservation Society</h3>
    <h4>Environment Agency</h4>
    <h4><a href="http://www.field-studies-council.org/centres/juniperhall.aspx">Field Studies Council, Juniper Hall</a></h4>
    <p>
      Juniper Hall is a wonderful house. It is owned by the National Trust, and leased to the Field Studies Council, who run a wide range of educational courses. They all have a theme of the "Outdoor Classroom", and make for an educational break that can be enjoyable and life-enhancing. Many are suitable for families.
    </p>
    <h4><a href="http://friendsofboxhill.org.uk/">Friends of Box Hill</a></h4>
    <p>
      The Friends of Box Hill undertake a wide range of volunteer and fundraising activities to support the work of the National Trust on Box Hill. They organise walks and talks, so are well worth joining in order both to find out more about the Hill, and to help look after it for future generations to enjoy. The membership fee is very modest.
    </p>
    <h4>Leatherhead and District Countryside Protection Society</h4>
    <h4>London Natural History Society</h4>
    <h4><a href="https://lowermole.wordpress.com/">Lower Mole Countryside Management Project</a></h4>
    <p>
      The Lower Mole Countryside Management Trust supports the provision of high quality practical management work. Many  sites in Mole Valley have benefitted from the active involvement of their Countryside Management staff and volunteers. They really do make a difference, and additional help from volunteers is always welcome.
    </p>
    <h4><a href="http://www.molevalley.gov.uk/">Mole Valley District Council</a></h4>
    <p>
      District Council covering the administrative area of Mole Valley. Responsible for planning policy and development management. The Council manages parks and open spaces, including important sites for nature conservation. Officers work with other partners in the statutory and voluntray sectors to ensure the protection of the landscape and wildlife habitats. The Council also supports two countryside management projects: the Lower Mole Project and the Gatwick Greenspace Partnership, and the Surrey Hills Area of OutstandingNatural Beauty Partnership.
    </p>
    <h4><a href="http://www.nationaltrust.org.uk/visit/local-to-you/london-and-south-east/">National Trust</a></h4>
    <p>
      We are very fortunate that National Trust is a major land owner in Mole Valley. Their most prominent natural history site is Box Hill, of course, but you will see National Trust signs on many of your walks in the area.
    </p>
    <h4>
      <a href="http://www.rspb.org.uk/groups/dorkinganddistrict">RSPB Dorking and District Local Group</a>
    </h4>
    <p>
      This local group of the RSPB runs a range of events including midweek/weekend walks,coach trips, evening meetings with speaker and trips away. For a full list of events please see the website.
    </p>
    <h4>Surrey Amphibian and Reptile Group</h4>
    <h4>Surrey Bat Group</h4>
    <h4>Surrey Botanical Society</h4>
    <h4>Surrey Farming and Wildlife Group</h4>
    <p>
      Farms provide and extremely important wildlife habitat in Mole Valley. Many have ancient hedgerows and scattered copses of ancient semi-natural woodland. The Surrey FWAG works with farmer in Mole Valley and elsewhere to help consideration for natural history to be integrated into modern farming practices.
    </p>
    <h4><a href="http://www.surreywildlifetrust.org/">Surrey Wildlife Trust</a></h4>
    <p>
      With its partnership with Surrey County Council, the SUrrey Wildlife Trust is (along with the National Trust) a key player in the management of important wildlife sites in Mole Valley. In addition, their Educational Centre at Nower Wood is an important resource for secondary education is Surrey and South London.
    </p>
  </section>
</article>