<article>
  <section id="main1">
    <h1>RESOURCES</h1>
    
     <p></p>
  </section>
 
  <section id="imag2">
        
          
     <figure>
      <%= image_tag("http://molevalleynh.herokuapp.com/assets/birds/Kingfishers-mating-menu-53258b030207f4b60a2220f842a30a44.jpg", :width => 350, :height => 250, :crop => :fill) %>
    </figure>
   
    </section>
  <section id="main3">
    <p>
      This page contains a number of downloads and links that will help you would like to find out more about Mole Valley and its natural history.
    </p>
    <p>
      Something with slightly broader coverage to start with. The Surrey Wildlife Trust has been producing a wonderful series of "Wildlife Atlases" over the last years. They have been extremely well received and provide valuable coverage of Surrey's wildlife. Being atlases, of enormously in finding out in detail what is present in Mole Valley. Buy them while you can. Follow this link to find out more about the <a href="http://www.surreywildlifetrust.org//Default.asp?mainmenu=homepage&EntityID={EDE97F38-9621-4074-BB13-FEFBDC91987F}">Surrey Wildlife Atlases</a>.
    </p>
    <p>
        As with all things, you will learn about Mole Valley's wildlife most effectively if you walk the district in the company of an intelligent friend who know the area well. If you can't find one, then <a href="http://www.field-studies-council.org/centres/juniperhall.aspx">Juniper Hall</a>, a local center run by the Field Studies Council, has an excellent supply of intelligent friends. They offer weekend and week long courses on all sorts of aspects of natural history. They use Mole Valley, as well as other areas in Surrey, for their field work.
    </p>
    <p>
      Going back to books, the <a href="http://friendsofboxhill.org.uk/">Friends of Box Hill</a> publish a series of books provide a good local insight into this part of Mole Valley. These include The Box Hill Book of Bats, of Orchids, of Butterflies, of Box, of Archeology. More are in the pipelines. They are available from the National Trust Shop and Information Centre, Box Hill.
    </p>
    <p>
      Jeremy Early very kindly made a good number of his excellent wildlife photograohs available for this site. If you would like to see more of his photographs, and find out a lot more about natural history, then do take a look at his website: <a href="http://www.natureconservationimaging.com/">Natural Conservation Imaging</a>.
    </p>
  </section>
    
</article>
